:root {
	--borderColor: rgba(170, 170, 255, 0.2);
	--border: solid 1px var(--borderColor);
	--headerLabelBG: rgba(255, 255, 255, 0.85);
}

@font-face {
	font-family: 'Comfortaa';
	font-style: regular;
	font-weight: 400;
	src: url(../font/Comfortaa-Regular.ttf) format('truetype');
}

* {
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	user-select: none;
	box-sizing: border-box;
	text-rendering: optimizelegibility;
}

*::-webkit-scrollbar {
	display: none;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	text-align: center;
	overflow-x: hidden;
	line-height: 1.4;
	background: linear-gradient(135deg, #fff, #fffaf7 10%, #fff3ea 20%, #f5f3f0 33%, #ddf3ff 66%, #d0f1c9) 50% fixed;
	font-family: Comfortaa, Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body>container {
	display: block;
	flex-direction: column;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	opacity: 0;
	transition: .4s ease-out;
}

body>container>element {
	display: block;
	position: relative;
	border: solid 1em transparent;
}

body>container>element.intro {
	display: flex;
	justify-content: center;
	padding: 0;
	border: none;
}

body>container>element.intro img.text {
	position: absolute;
	width: 80%;
	margin-top: 4em;
	max-width: 40em;
}

body>container>element.intro description {
	position: absolute;
	bottom: 0;
	color: white;
	padding: 1em;
	background: rgba(0, 0, 0, 0.4);
	margin: 2em;
	border-radius: 1em;
	font-size: 1.2em;
	text-shadow: 0.1em 0.1em 0.5em black;
}

body>container>element div.title {
	display: none;
	text-align: left;
	padding-left: 0.8em;
	padding-bottom: 0.25em;
}

body>container>element.history button {
	top: 50%;
	margin-top: -1em;
}

body>header {
	display: none;
	height: 4em;
	position: fixed;
	z-index: 8;
	width: 100%;
	color: white;
	text-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.6);
}

body>header>button {
	position: absolute;
	right: 1em;
	margin: 0;
	bottom: 1em;
}

body>container>element>header h2 {
	position: absolute;
	width: 100%;
	text-align: center;
	color: rgba(255, 255, 255, 0.7);
	top: 2.5em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

button {
	background: rgba(255, 255, 255, 0.6);
	border: var(--border);
	padding: 0.5em 1em;
	border-radius: 1em;
	outline: none;
	cursor: pointer;
	margin: 0 0.5em 0.5em 0.5em;
	font-size: 1em;
	font-family: Comfortaa, Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
	z-index: 2;
}

button.icon {
	font-size: 1.3em;
	border-radius: 1em;
	width: 2em;
	height: 2em;
	position: absolute;
	background: rgba(255, 0, 0, 0.2);
	margin: 0;
	padding: 0;
}

button.add {
	right: 0;
	top: 0;
}

h1 {
	margin: 1em 0.5em;
	font-size: 1.2em;
	background: var(--headerLabelBG);
	display: inline-block;
	padding: 0.5em 1em;
	border-radius: 2em;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

error {
	position: fixed;
	text-overflow: ellipsis;
	overflow: hidden;
	left: 0.5em;
	text-align: center;
	right: 0.5em;
	top: 0.5em;
	color: rgb(180, 0, 0);
	font-weight: bold;
}

header button.icon {
	background: rgba(255, 255, 255, 0.7);
	right: 0.5em;
	bottom: 0.5em;
}

ul {
	text-align: left;
}

table {
	border-spacing: 0;
	width: 100%;
}

table th,
table td {
	text-align: left;
	padding: 0.75em 1em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

table td.label {
	cursor: default;
	text-align: right;
	vertical-align: top;
	padding-top: 1.25em;
}

table td {
	cursor: pointer;
}

table td.description {
	white-space: normal;
}

table th {
	font-weight: bold;
	background-color: var(--borderColor);
}

table tr.selected {
	background-color: rgba(255, 100, 50, 0.1);
}

table tr.past td {
	color: rgb(0, 50, 140);
}

table td button {
	margin: 0;
}

table td button.icon {
	position: relative;
	font-size: 1.2em;
}

login table td {
	cursor: default;
}

tabBody img {
	padding: 1em;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 1em;
	margin-top: 0.5em;
	max-width: 98%;
}

user,
event {
	position: relative;
	display: block;
	width: 100%;
	min-width: 100%;
	overflow-x: auto;
}

a {
	text-decoration: none;
	color: darkblue;
	cursor: pointer;
}

textarea,
input {
	appearance: none;
	position: relative;
	font-size: 1em;
	font-weight: normal;
	outline: none !important;
	font-family: Comfortaa, Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	height: 2em;
	padding: 0em 0.75em;
	border-radius: 0.5em;
	background: rgba(255, 255, 255, 0.85);
	vertical-align: top;
	border: none;
	width: 100%;
	color: black;
	user-select: text;
}

input[type="file"] {
	opacity: 0;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: block;
	height: 100%;
}

textarea {
	height: 5em;
	padding-top: 0.5em;
	overflow-y: auto;
	resize: none;
}

label {
	position: relative;
	color: darkmagenta;
	font-size: 0.8em;
	background: rgba(255, 255, 255, 0.4);
	padding: 0.5em;
	border-radius: 0.5em 0.5em 0 0;
	clear: left;
	float: left;
	display: inline;
	width: fit-content;
}

value {
	position: relative;
	min-width: 7em;
	max-height: 20em;
	max-width: 100%;
	margin-bottom: 1em;
	overflow: auto;
	padding: 0.5em;
	border-radius: 0 0.5em 0.5em 0.5em;
	background: rgba(255, 255, 255, 0.4);
	float: left;
	clear: left;
	user-select: text;
}

value item {
	display: inline-block;
	position: relative;
	padding: 0.5em 2em 0.5em 0.5em;
	margin: 0.25em;
	border-radius: 0.5em;
	cursor: pointer;
}

value item.selected {
	background-color: rgba(255, 255, 255, 0.6);
}

value item.selected::after {
	content: '✓';
	position: absolute;
	right: 0.5em;
	top: 0.5em;
}

value.pictures {
	width: 100%;
	min-height: 3.2em;
	text-align: center;

}

value.pictures div {
	width: 30%;
	margin: 1%;
	border-radius: 0.5em;
	vertical-align: top;
	display: inline-block;
	position: relative;
}

value.pictures div delete {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(255, 255, 255, 0.8);
	padding: 0.5em 0;
}

value.pictures div img {
	border-radius: 0.5em;
	width: 100%;
}

field {
	position: relative;
	display: block;
	min-height: 2em;
	width: 100%;
	padding: 0.5em;
	border-radius: 0 0.5em 0.5em 0.5em;
	background: rgba(255, 255, 255, 0.4);
	margin-bottom: 1em;
	clear: left;
}

participant {
	position: relative;
	display: block;
	margin: 0.5em;
}

participant remove {
	position: absolute;
	right: 0;
	width: 2em;
	background-color: rgba(255, 0, 0, 0.4);
	text-align: center;
	margin-left: 0.5em;
	border-radius: 1em;
}

participant input {
	position: absolute;
	right: 3em;
	width: 5em;
	text-align: right;
	height: 1.5em;
	border: none;
}

feedbacks {
	text-align: left;
}

history {
	width: 100%;
	position: relative;
	overflow-x: auto;
	display: block;
	height: 20em;
}

history item {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	padding: 1em;
}

history item img {
	border-radius: 1em;
	max-width: 100%;
	max-height: 100%;
}

history item text {
	position: absolute;
	bottom: 0;
	text-align: right;
	border-radius: 1em;
	background: rgba(255, 255, 255, 0.4);
	right: 0;
	padding: 1em;
	font-size: 0.8em;
}

rating,
rating top,
rating note {
	display: block;
	position: relative;
}

rating top {
	font-size: 0.8em;
}

rating note {
	margin: 0.5em 0 2em 0;
}